* {
    margin: 0px;
    padding: 0px;
}
main {
    width: 60vw;
    height: 100vh;
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20vw;
}
section, article{
    width: 80%;
    background-color: white;
    padding: 20px;
    
}
article {
    margin-top: 30px;
}
h1{
    background-color: cadetblue;
}

ul {
    display: flex;
}


ul > li > a {
    margin: 10px;
    padding: 10px;
    background-color: bisque;
    color: white;
    border-radius: 10px;
}
ul li {
    list-style: none;
    padding: 20px;
    
}
ol > li{
    border: 1px solid black;
}
a{
    text-decoration: none;
}

article {
    align-content: center;
    
}

ul > li > a:hover {
    background-color: white;
    color: blue;
    padding: 10px;
}
ul {
    border: 1px solid black;
}
ol > li {
    padding: 10px;
    margin-left: 10px;
}

ol > li:hover {
    background-color: antiquewhite;
}
h1 {
    border: 1px solid black;
}